* {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
}

body {
  background: radial-gradient(
      circle,
      rgba(255, 204, 255, 1) 0%,
      rgba(51, 204, 255, 1) 100%
    )
    fixed;
  height: 900px;
  position: relative;
}

.info-box {
  position: absolute;
  width: 100%;
}

.info {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color: #005780;
}

.start-screen,
.wrapper {
  box-shadow: 5px 10px 25px rgb(9, 68, 107);
}

#start-screen {
  background-color: #54a0be;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  transform: translateY(50%);
  z-index: 16;
  border-radius: 15px;
  display: flex;
}

.win-box {
  background-color: #54a0be;
  position: absolute;
  width: 25%;
  height: 25%;
  left: 37.5%;
  transform: translateY(-50%);
  border-radius: 15px;
  box-shadow: 5px 10px 25px rgb(9, 68, 107);
  justify-content: center;
  text-align: center;
}

.win-message {
  color: white;
  font-size: 30px;
  margin-top: 30px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 12;
}

.field {
  position: relative;
  width: 50%;
  margin: 50px 100px;
  height: 20%;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: 0px 10px 15px rgb(9, 68, 107);
}

.field::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 40px;
  position: relative;
  top: -10px;
}

.field:focus::-webkit-input-placeholder {
  color: transparent;
}

.start-button {
  /*positioning*/
  background-color: white;
  position: absolute;
  width: 50%;
  height: 30%;
  left: 25%;
  margin-top: 250px;
}

.start-button {
  /*cosmetic*/
  border: none;
  border-radius: 20px;
  outline: none;
  color: black;
  padding: 15px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

button:hover {
  box-shadow: 5px 10px 25px rgb(9, 68, 107);
}

.wrapper {
  /* positioning*/
  display: flex;
  position: relative;
  margin: auto;
  width: 50%;
  max-width: 1200px;
  height: 50%;
  transform: translateY(50%);
}

.wrapper {
  /* cosmetic*/
  background-color: #2b7a92;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.container {
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: #3d95af;
}

#one {
  border-radius: 15px 0 0 15px;
}

#two {
  border-radius: 0 15px 15px 0;
}

.player,
.round-score {
  position: relative;
  margin: auto;
  text-align: center;
  top: 50px;
  color: white;
}

.player {
  width: 50%;
  font-size: 35px;
}

.round-score {
  width: 20%;
  font-size: 75px;
}

.current-score {
  background-color: #005780;
  width: 40%;
  height: 20%;
  margin: 170px auto;
  border-radius: 10px;
  text-align: center;
  color: white;
  line-height: 35px; /* text alignement vertically */
}

.current-score span.score {
  position: absolute;
  margin-top: 40px;
  margin-left: -50px;
  font-size: 40px;
}

.new-game,
.roll-dice,
.hold {
  /*cosmetic*/
  background-color: #a9e4ff;
  color: black;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.new-game {
  /*cosmetic*/
  font-size: 20px;
}

.roll-dice,
.hold {
  /*cosmetic*/
  font-size: 15px;
}

.new-game {
  position: absolute;
  z-index: 13;
}

.roll-dice,
.hold {
  /*positioning*/
  position: absolute;
  z-index: 12;
}

.new-game {
  /*positioning*/
  width: 17%;
  height: 15%;
  margin-top: -300px;
}

.roll-dice {
  /*positioning*/
  width: 12%;
  height: 8%;
  margin-top: 260px;
  line-height: 8px;
}

.hold {
  /*positioning*/
  width: 10%;
  height: 8%;
  margin-top: 360px;
  line-height: 8px;
}

.dice-box {
  /*cosmetic*/
  width: 100px;
  height: 100px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 10px 25px rgb(9, 68, 107);
}

.dice-box {
  /*positioning*/
  position: absolute;
  z-index: 16;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
}

.faces {
  position: absolute;
  display: flex;
  height: 100px;
  width: 100px;
}

.face1 {
  justify-content: center;
  align-items: center;
}

.face2 {
  justify-content: space-between;
}

.face2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.face3 {
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.face3 .dot:nth-of-type(1) {
  align-self: flex-start;
}

.face3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.face4,
.face5,
.face6 {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.face5 .column:nth-of-type(2) {
  justify-content: center;
  align-items: center;
}

.dice-noshow {
  display: none;
}

.hidden {
  display: none;
}
